  #{Rails.configuration.x.local_domain} Conditions générales d'utilisation du service Mamot.fr

.wrapper

  %h2
    %a.anchor{"aria-hidden" => "true", :href => "#conditions-g%C3%A9n%C3%A9rales-dutilisation-du-service-mamotfr", :id => "user-content-conditions-générales-dutilisation-du-service-mamotfr"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Conditions générales d'utilisation du service Mamot.fr
  %h3
    %a#user-content-service--garanties.anchor{"aria-hidden" => "true", :href => "#service--garanties"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Service &amp; garanties
  %p
    La Quadrature du Net (« Nous », par la suite) met en place un service gratuit de système de publication Mastodon [1] accessible à l'adresse
    %a{:href => "https://mamot.fr/"} https://mamot.fr/
    afin de favoriser des espaces d'expression publics basé sur des logiciels libres et décentralisés. L'accès au service est gratuit pour ne pas restreindre l'expression publique aux capacités financières.
  %p
    Toute personne (par la suite : « l'utilisateur·rice » ou « Vous ») peut y ouvrir un compte en précisant une adresse email et un mot de passe [2].
    Nous essayons de garantir la pérennité, la qualité et la sécurité du service, mais aucune garantie n'est apportée sur ces points.
    L'infrastructure est gérée par une équipe technique [3] et une équipe contenus [4]. Afin d'être tenu·e au courant des évolutions et dysfonctionnements du service, il est fortement recommandé de suivre le compte 
    %a{:href => "https://mamot.fr/@admin"}> @admin@mamot.fr
    \.
  %h3
    %a.anchor{"aria-hidden" => "true", :href => "#confidentialit%C3%A9--vie-priv%C3%A9e", :id => "user-content-confidentialité--vie-privée"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Confidentialité &amp; vie privée
  %p
    L'utilisateur·rice est informé·e que Mastodon a pour but principal de publier des informations à une liste d'« abonné·e·s » ou directement au public. En raison des limitations du protocole oStatus utilisé, la confidentialité des messages dits « directs » ne peut être garantie. [9]. Ils sont susceptibles d'être accessibles aux administrateur·ice·s de mamot.fr ou d'autres instances, voir au public en cas de problème sur la sécurité de Mastodon, de mamot.fr ou d'autres instances.
    Tout message que vous supprimez de votre compte l'est sur mamot.fr, mais peut être conservé par d'autres instances ne respectant pas le protocole de Mastodon.
  %h3
    %a.anchor{"aria-hidden" => "true", :href => "#donn%C3%A9es-concern%C3%A9es", :id => "user-content-données-concernées"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Données concernées
  %h4
    %a#user-content-suppression-de-compte.anchor{"aria-hidden" => "true", :href => "#suppression-de-compte"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Suppression de compte
  %p À ce jour, l'application Mastodon ne vous permet pas de supprimer vous-même votre compte. Si vous souhaitez supprimer votre compte, merci de contacter l'équipe technique [3] en précisant l'adresse mail utilisée pour vous inscrire ainsi que votre nom d'utilisateur·rice.
  %h4
    %a.anchor{"aria-hidden" => "true", :href => "#acc%C3%A8s-aux-donn%C3%A9es", :id => "user-content-accès-aux-données"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Accès aux données
  %p
    Chacun·e peut accéder à ses données publiques à tout moment en se rendant à l'adresse appropriée [5].
    Les autres données (voir ci-dessous) peuvent être obtenues conformément à la loi de 1978 [6].
    En dehors des messages publiés par l'utilisateur·rice, nous conservons les informations suivantes :
  %ul
    %li pendant une semaine, l'ensemble des accès au site mamot.fr (comprenant l'adresse IP, la page demandée, le navigateur, le referrant, la taille et le code de la réponse), à des fins de contrôle qualité ;
    %li pendant un an, les mêmes informations, uniquement pour les appels à une page de publication de contenu, tel que requis par la loi [8] ;
    %li sans limite de durée, l'ensemble des rapports de contenus problématiques signalés par les utilisateurs·rices, ainsi que l'action réalisée par l'équipe contenus de La Quadrature du Net.
  %h4
    %a#user-content-diffusion-et-exploitation.anchor{"aria-hidden" => "true", :href => "#diffusion-et-exploitation"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Diffusion et exploitation
  %p
    Nous ne faisons aucune exploitation commerciale de vos données.
    Les contenus que vous publiez sur mamot.fr ne sont diffusés que dans le cadre de Mastodon. Nous nous engageons à ne diffuser ou commercialiser ni ces contenus, ni les données privées [7]. En revanche, nous ne pouvons empêcher des tiers de collecter des contenus diffusés publiquement par l'intermédiaire de Mastodon.
  %h2
    %a.anchor{"aria-hidden" => "true", :href => "#mod%C3%A9ration", :id => "user-content-modération"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Modération
  %ul
    %li Vous ne devez pas utiliser mamot.fr pour envoyer, publier, distribuer ou diffuser tout contenu illégal, diffamatoire, harcelant, abusif ou autrement répréhensible.
    %li Si vous publiez des contenus susceptibles de heurter (sexualité, violence...), nous vous encourageons à utiliser la fonctionnalité du « CW ». De l'anglais « Content Warning », ce système cache votre message en le précédant d'un avertissement de votre choix.
    %li Les bots et automatismes sont acceptés tant que leur utilisation n'est pas abusive ou déplaisante pour les autres usagers, notamment s'ils publient un nombre de messages raisonnable.
    %li Les organisations à but lucratif sont fortement encouragés à contribuer au développement de Mastodon, à mettre en place leur propre instance, ou à disposer de comptes sur d'autres instances. Nous n'acceptons pas les comptes pratiquant le démarcharge commercial.
  %p
    Tout contenu et tout compte ne respectant pas ces conditions pourra être rendu invisible aux flux locaux et fédéraux [11], ou supprimé.
    Si ces conditions ne vous conviennent pas, nous vous invitons à rejoindre une autre instance ou à créer la vôtre.
  %h4
    %a#user-content-blocage-et-signalement.anchor{"aria-hidden" => "true", :href => "#blocage-et-signalement"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Blocage et signalement
  %p
    Vous pouvez bloquer vous-même les comptes qui posent problème : lorsque vous consultez le profil de l'utilisateur·ice, cliquez sur le bouton « 3 lignes horizontales » sur la page du compte concerné, puis sur « Bloquer ».
    Vous pouvez nous signaler un contenu ou un compte utilisateur·rice ne respectant ces conditions. Pour cela, vous pouvez soit :
  %ul
    %li Cliquer sur le menu « ... » puis « Signaler » le message ou le compte, en l'accompagnant d'une explication.
    %li
      Envoyer un email à
      %a{:href => "mailto:mamot@laquadrature.net"} mamot@laquadrature.net
      [4], en indiquant le lien URL [10] vers le contenu incriminé (si c'est un message particulier, cliquez sur la DATE/HEURE du message pour trouver son adresse précise)
  %p
    Nous envoyons automatiquement un message à tout propriétaire de compte quand son compte ou un de ses messages a fait l'objet d'un signalement. L'auteur du signalement ainsi que le message de signalement sont gardés anonymes.
    À des fins de transparence, les messages ou les comptes mis sous « silence » [11] ou bloqués seront référencés sur une page dédiée [12].
  %h2
    %a#user-content-modifications-de-ces-cgu-licence.anchor{"aria-hidden" => "true", :href => "#modifications-de-ces-cgu-licence"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Modifications de ces CGU, Licence
  %p
    Ces conditions d'utilisation sont accessibles à la page
    %a{:href => "https://mamot.fr/terms"} https://mamot.fr/terms
  %p
    En cas de mise à jour de ces CGU, les utilisateurs·rices seront prévenus une semaine avant leur mise en œuvre via un message envoyé sur le compte
    %a{:href => "https://mamot.fr/@admin"} https://mamot.fr/@admin
  %p Les anciennes versions resteront disponibles à cette adresse.
  %p Ces conditions d'utilisations sont publiées sous licence CC0
  %p CGU MAMOT V0-2017-04-22.
  %h2
    %a#user-content-notes.anchor{"aria-hidden" => "true", :href => "#notes"}>
      %span.octicon.octicon-link{"aria-hidden" => "true"}
    Notes
  %ul
    %li
      [1] Mastodon est un logiciel libre dont le code source est disponible à l'adresse
      %a{:href => "https://github.com/tootsuite/mastodon/"} https://github.com/tootsuite/mastodon/
    %li [2] Les mots de passe ne sont pas stockés en clair sur les serveurs
    %li
      [3] joignable à
      = succeed "," do
        %a{:href => "mailto:sysadmin@laquadrature.net"} sysadmin@laquadrature.net
    %li
      [4] joignable à
      = succeed "," do
        %a{:href => "mailto:mamot@laquadrature.net"} mamot@laquadrature.net
    %li
      [5]
      %a{:href => "https://mamot.fr/settings/export"} https://mamot.fr/settings/export
    %li [6] Pour accéder à vos informations, conformément à la loi de 1978, écrivez à La Quadrature du Net, 60 rue des Orteaux, 75020 Paris. En précisant bien le nom d'utilisateur·rice mamot.fr concerné.
    %li
      [7] Pour plus d'information :
      %a{:href => "https://www.cnil.fr/fr/le-droit-dacces"} https://www.cnil.fr/fr/le-droit-dacces
      \&amp;
      %a{:href => "https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces"} https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces
    %li
      [8]
      %a{:href => "https://www.legifrance.gouv.fr/eli/decret/2006/3/24/JUSD0630025D/jo/texte"} https://www.legifrance.gouv.fr/eli/decret/2006/3/24/JUSD0630025D/jo/texte
    %li [9] Si vous souhaitez échanger de manière confidentielle des messages avec d'autres utilisateurs·rices, préférez Signal ou Jabber avec OTR ou OMemo
    %li
      [10] par exemple :
      %a{:href => "https://mamot.fr/@admin/17935"} https://mamot.fr/@admin/17935
    %li [11] Un compte mis en « Silence » voit ses messages rendus invisibles sur les pages « Fil public local » et « Fil public global ». Seul·e·s ses abonné·e·s voient ses messages.
    %li [12] ... URL à déterminer ...
  
